* {
    margin: 0px;
    
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1000px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid;
    text-align: left;
}

th {
    background-color: antiquewhite;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.back-button {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.back-button:hover {
    color: blue;
    text-decoration: underline;
}